@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakesNeueRegular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakesNeueBold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-blue: #003b5c;
  --secondary-blue: #0096d6;
}

body {
  @apply antialiased;
  font-family: "TT Lakes", sans-serif;
}

.container {
  @apply mx-auto max-w-7xl;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--secondary-blue);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

